@import "tailwindcss";

@layer components {
  .task-card{
    @apply rounded-2xl shadow-sm bg-white/60 text-light-bronze-800 ring-1 ring-red-100 
  }
  .task-card-base{
    @apply bg-white/10 border border-light-bronze-800/40 rounded-2xl shadow-sm
  }
  .info-card{
    @apply bg-white/10 border border-light-bronze-800/40 rounded-2xl shadow-sm
  }
}

@theme {
  /* Tea Green */
  --color-tea-green: #ccd5ae;
  --color-tea-green-100: #f5f7ef;
  --color-tea-green-200: #ebeedf;
  --color-tea-green-300: #e1e6cf;
  --color-tea-green-400: #d6debe;
  --color-tea-green-500: #ccd5ae;
  --color-tea-green-600: #acbb7b;
  --color-tea-green-700: #88994f;
  --color-tea-green-800: #5b6635;
  --color-tea-green-900: #2d331a;

  /* Beige */
  --color-beige: #e9edc9;
  --color-beige-100: #fbfbf4;
  --color-beige-200: #f6f8ea;
  --color-beige-300: #f2f4df;
  --color-beige-400: #edf1d4;
  --color-beige-500: #e9edc9;
  --color-beige-600: #ced788;
  --color-beige-700: #b3c146;
  --color-beige-800: #79842c;
  --color-beige-900: #3d4216;

  /* Cornsilk */
  --color-cornsilk: #fefae0;
  --color-cornsilk-100: #fffef9;
  --color-cornsilk-200: #fffdf3;
  --color-cornsilk-300: #fefced;
  --color-cornsilk-400: #fefbe7;
  --color-cornsilk-500: #fefae0;
  --color-cornsilk-600: #fbeb84;
  --color-cornsilk-700: #f8dc27;
  --color-cornsilk-800: #baa206;
  --color-cornsilk-900: #5d5103;

  /* Papaya Whip */
  --color-papaya-whip: #faedcd;
  --color-papaya-whip-100: #fefbf5;
  --color-papaya-whip-200: #fdf8eb;
  --color-papaya-whip-300: #fcf4e0;
  --color-papaya-whip-400: #fbf1d6;
  --color-papaya-whip-500: #faedcd;
  --color-papaya-whip-600: #f2d079;
  --color-papaya-whip-700: #eab227;
  --color-papaya-whip-800: #a57b10;
  --color-papaya-whip-900: #533e08;

  /* Light Bronze */
  --color-light-bronze: #d4a373;
  --color-light-bronze-100: #f6ede3;
  --color-light-bronze-200: #eedac7;
  --color-light-bronze-300: #e5c8ab;
  --color-light-bronze-400: #dcb68f;
  --color-light-bronze-500: #d4a373;
  --color-light-bronze-600: #c58341;
  --color-light-bronze-700: #96622e;
  --color-light-bronze-800: #64411f;
  --color-light-bronze-900: #32210f;
  
   /* amber */
  --color-amber-50: #e7e4de;
  --color-amber-100: #d0cbbd;
  --color-amber-200: #bab29b;
  --color-amber-300: #a39a7d;
  --color-amber-400: #8a826a;
  --color-amber-500: #726b57;
  --color-amber-600: #5a5546;
  --color-amber-700: #444034;
  --color-amber-800: #2f2c24;
  --color-amber-900: #1b1915;
  --color-amber: #726b57;

  /* chartreuse */
  --color-chartreuse-50: #e1e6dd;
  --color-chartreuse-100: #c4cebb;
  --color-chartreuse-200: #a7b897;
  --color-chartreuse-300: #8da07b;
  --color-chartreuse-400: #788768;
  --color-chartreuse-500: #637056;
  --color-chartreuse-600: #4e5944;
  --color-chartreuse-700: #3b4333;
  --color-chartreuse-800: #292e23;
  --color-chartreuse-900: #181b14;
  --color-chartreuse: #637056;

  /* cyan */
  --color-cyan-50: #dde6e6;
  --color-cyan-100: #bbcfcf;
  --color-cyan-200: #98b8b8;
  --color-cyan-300: #7ca1a1;
  --color-cyan-400: #698888;
  --color-cyan-500: #567070;
  --color-cyan-600: #455959;
  --color-cyan-700: #344343;
  --color-cyan-800: #242e2e;
  --color-cyan-900: #151b1b;
  --color-cyan: #567070;

  /* fuschia */
  --color-fuschia-50: #eae2e8;
  --color-fuschia-100: #d7c7d2;
  --color-fuschia-200: #c4abbe;
  --color-fuschia-300: #b38faa;
  --color-fuschia-400: #9b7792;
  --color-fuschia-500: #806379;
  --color-fuschia-600: #664e60;
  --color-fuschia-700: #4d3b48;
  --color-fuschia-800: #352932;
  --color-fuschia-900: #1f181d;
  --color-fuschia: #806379;

  /* malachite-green */
  --color-malachite-green-50: #dee7e0;
  --color-malachite-green-100: #bdd0c1;
  --color-malachite-green-200: #9bbaa2;
  --color-malachite-green-300: #7da387;
  --color-malachite-green-400: #6a8a72;
  --color-malachite-green-500: #57725e;
  --color-malachite-green-600: #465a4b;
  --color-malachite-green-700: #344438;
  --color-malachite-green-800: #242f27;
  --color-malachite-green-900: #151b16;
  --color-malachite-green: #57725e;

  /* red */
  --color-red-50: #eae3e3;
  --color-red-100: #d7c8c8;
  --color-red-200: #c5acac;
  --color-red-300: #b49292;
  --color-red-400: #9e7979;
  --color-red-500: #826464;
  --color-red-600: #685050;
  --color-red-700: #4e3c3c;
  --color-red-800: #362929;
  --color-red-900: #1f1818;
  --color-red: #826464;

  /* sapphire-blue */
  --color-sapphire-blue-50: #e3e4ea;
  --color-sapphire-blue-100: #c7cbd7;
  --color-sapphire-blue-200: #acb2c5;
  --color-sapphire-blue-300: #9199b4;
  --color-sapphire-blue-400: #79829d;
  --color-sapphire-blue-500: #646b82;
  --color-sapphire-blue-600: #4f5567;
  --color-sapphire-blue-700: #3c404e;
  --color-sapphire-blue-800: #292c35;
  --color-sapphire-blue-900: #181a1f;
  --color-sapphire-blue: #646b82;

  /* violet */
  --color-violet-50: #e7e3eb;
  --color-violet-100: #d0c8d8;
  --color-violet-200: #b9aec6;
  --color-violet-300: #a493b5;
  --color-violet-400: #8d7ba0;
  --color-violet-500: #756584;
  --color-violet-600: #5d5169;
  --color-violet-700: #463d4f;
  --color-violet-800: #302a36;
  --color-violet-900: #1c181f;
  --color-violet: #756584;

}